<h3>New Instructor</h3>

<form class="pure-form pure-form-aligned" ng-submit="submit(instructor)">
    <fieldset>
        <div class="pure-control-group">
            <label for="user">User</label>
            <select id="user" ng-options="user.id as user.ds_first_name for user in users" ng-model="instructor.userId"></select>
        </div>

        <div class="pure-control-group">
            <label for="level">Level</label>
            <select id="level" ng-options="level.nu_level as level.nu_level for level in instructorLevels" ng-model="instructor.nu_level"></select>
        </div>

        <div class="pure-control-group">
            <label for="studio">Studio</label>
            <select id="studio" ng-options="studio.id as studio.no_name for studio in studios" ng-model="instructor.studioId"></select>
        </div>

        <div class="pure-control-group">
            <label for="nu_title_font_family" style="float: left;">Title font family</label>

            <div style="display: table">
                <input id="nu_title_font_family" type="text" ng-model="studio.nu_title_font_family" placeholder="Title font family">
            </div>
        </div>


        <div class="pure-control-group">
            <label for="ds_avatar" style="float: left">Instructor grid image</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, dsAvatar, instructor, 'ds_avatar')">Upload on file select</button> <label ng-if="dsAvatar.progress && dsAvatar.progress > 0">{{ dsAvatar.progress }}%</label>
                <br />
                <input id="ds_avatar" type="text" ng-model="instructor.ds_avatar" placeholder="Instructor grid image">

                <img ngf-thumbnail="instructor.ds_avatar" width="80px" ng-show="instructor.ds_avatar"/>
            </div>
        </div>

        <div class="pure-control-group">
            <label for="ds_about_me" style="float: left;">Instructor grid about us</label>

            <div style="display: table">
                <input id="ds_about_me" type="text" ng-model="studio.ds_about_me" placeholder="Instructor grid about us">
            </div>
        </div>
        <br/>
        <div class="pure-control-group">
            <label for="ds_instagram_url" style="float: left;">Instagram URL</label>

            <div style="display: table">
                <input id="ds_instagram_url" type="text" ng-model="instructor.ds_instagram_url" placeholder="Instagram URL"/>
            </div>
        </div>

        <div class="pure-control-group">
            <label for="ds_facebook_url" style="float: left;">Facebook URL</label>

            <div style="display: table">
                <input id="ds_facebook_url" type="text" ng-model="instructor.ds_facebook_url" placeholder="Facebook URL"/>
            </div>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Save Changes</button>
        </div>
    </fieldset>
</form>