<h1>Listing Instructors</h1>

<p>
	<button class="pure-button pure-button-primary" ng-click="new()">New Instructor</button>
</p>

<div class="table-container">
	<table class="pure-table pure-table-horizontal">
		<thead>
		<tr>
			<th>#</th>
			<th>User</th>
			<th>Level</th>
			<th>Studio</th>
			<th>Action</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat="instructor in instructors">
			<td>{{ instructor.id }}</td>
			<td class="title">{{ instructor.user.ds_first_name }}</td>
			<td class="title">{{ instructor.nu_level }}</td>
			<td class="title">{{ instructor.studio.no_name }}</td>
			<td class="actions">
				<button class="pure-button" ng-click="edit(instructor)">Edit</button>
				<button class="button-red pure-button" ng-click="remove(instructor)">
					<img src="assets/icon-trash.svg" alt="Remove" />
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>