<h3>Editing Studio</h3>

<form class="pure-form pure-form-aligned" ng-submit="submit(studio)">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" ng-model="studio.no_name" placeholder="Name"/>
        </div>

        <div class="pure-control-group">
            <label for="slug">Slug</label>
            <input id="slug" disabled="disabled" type="text" ng-model="studio.ds_slug" placeholder="Slug"/>
        </div>

        <div class="pure-control-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" ng-model="studio.email" disabled="disabled" placeholder="E-mail">
        </div>

        <div class="pure-control-group">
            <label for="link">Link</label>
            <input id="link" type="text" ng-model="studio.ds_link" placeholder="Link"/>
        </div>

        <div class="pure-control-group">
            <label for="primaryColor" style="float: left">Primary Color</label>

            <color-picker
                    id="primaryColor"
                    ng-model="studio.nu_primary_color_scheme"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <div class="pure-control-group">
            <label for="secondaryColor" style="float: left">Secondary Color</label>
            <color-picker
                    id="secondaryColor"
                    ng-model="studio.nu_secondary_color_scheme"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <div class="pure-control-group">
            <label for="ds_logo" style="float: left;">Logo</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, dsLogo, studio, 'ds_logo')">Upload on file select</button> <label ng-if="dsLogo.progress && dsLogo.progress > 0">{{ dsLogo.progress }}%</label>
                <br />
                <input id="ds_logo" type="text" ng-model="studio.ds_logo" placeholder="Logo">

                <img ngf-thumbnail="studio.ds_logo" width="80px" ng-show="studio.ds_logo"/>
            </div>
        </div>

        <div class="pure-control-group">
            <label for="homepage">Homepage</label>
            <input id="homepage" type="text" ng-model="studio.ds_homepage" placeholder="Homepage"/>
        </div>

        <div class="pure-control-group">
            <label for="aboutUs">About Us</label>
            <input id="aboutUs" type="text" ng-model="studio.ds_about_us" placeholder="About Us"/>
        </div>

        <div class="pure-control-group">
            <label for="registrationPage">Registration Page</label>
            <input id="registrationPage" type="text" ng-model="studio.ds_registration_page" placeholder="registrationPage"/>
        </div>

        <div class="pure-control-group">
            <label for="nu_latitude">Latitude *</label>
            <input id="nu_latitude" type="text" ng-model="studio.nu_latitude" placeholder="Latitude"/>
        </div>

        <div class="pure-control-group">
            <label for="nu_longitude">Longitude *</label>
            <input id="nu_longitude" type="text" ng-model="studio.nu_longitude" placeholder="Longitude"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_login_font_color" style="float: left">Login Page Font Color</label>
            <color-picker
                    id="ds_login_font_color"
                    ng-model="studio.ds_login_font_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_login_button_color" style="float: left">Login Page Button Color</label>
            <color-picker
                    id="ds_login_button_color"
                    ng-model="studio.ds_login_button_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_login_background_image" style="float: left;">Login Page Background Image</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, loginPageBackgroundImage, studio, 'ds_login_background_image')">Upload on file select</button> <label ng-if="loginPageBackgroundImage.progress && loginPageBackgroundImage.progress > 0">{{ loginPageBackgroundImage.progress }}%</label>
                <br />
                <input id="ds_login_background_image" type="text" ng-model="studio.ds_login_background_image" placeholder="Background Image URL">

                <img ngf-thumbnail="studio.ds_login_background_image" width="80px" ng-show="studio.ds_login_background_image"/>
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_promo_img_1" style="float: left;">Promotional Image 1</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, dsPromoImg1, studio, 'ds_promo_img_1')">Upload on file select</button> <label ng-if="dsPromoImg1.progress && dsPromoImg1.progress > 0">{{ dsPromoImg1.progress }}%</label>
                <br />
                <input id="ds_promo_img_1" type="text" ng-model="studio.ds_promo_img_1" placeholder="Promotional Image 1">

                <img ngf-thumbnail="studio.ds_promo_img_1" width="80px" ng-show="studio.ds_promo_img_1"/>
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_promo_img_2" style="float: left;">Promotional Image 2</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, dsPromoImg2, studio, 'ds_promo_img_2')">Upload on file select</button> <label ng-if="dsPromoImg2.progress && dsPromoImg2.progress > 0">{{ dsPromoImg2.progress }}%</label>
                <br />
                <input id="ds_promo_img_2" type="text" ng-model="studio.ds_promo_img_2" placeholder="Promotional Image 2">

                <img ngf-thumbnail="studio.ds_promo_img_2" width="80px" ng-show="studio.ds_promo_img_2"/>
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_promo_img_3" style="float: left;">Promotional Image 3</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, dsPromoImg3, studio, 'ds_promo_img_3')">Upload on file select</button> <label ng-if="dsPromoImg3.progress && dsPromoImg3.progress > 0">{{ dsPromoImg3.progress }}%</label>
                <br />
                <input id="ds_promo_img_3" type="text" ng-model="studio.ds_promo_img_3" placeholder="Promotional Image 3">

                <img ngf-thumbnail="studio.ds_promo_img_3" width="80px" ng-show="studio.ds_promo_img_3"/>
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_promo_video" style="float: left;">Promotional Video</label>

            <div style="display: table">
                <input id="ds_promo_video" type="text" ng-model="studio.ds_promo_video" placeholder="Promotional Video URL">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_grid_1_title" style="float: left;">Title of text block 1</label>

            <div style="display: table">
                <input id="ds_grid_1_title" type="text" ng-model="studio.ds_grid_1_title" placeholder="Title of text block 1">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_grid_1_text" style="float: left;">Text of text block 1</label>

            <div style="display: table">
                <input id="ds_grid_1_text" type="text" ng-model="studio.ds_grid_1_text" placeholder="Text of text block 1">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_grid_2_title" style="float: left;">Title of text block 2</label>

            <div style="display: table">
                <input id="ds_grid_2_title" type="text" ng-model="studio.ds_grid_2_title" placeholder="Title of text block 2">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_grid_2_text" style="float: left;">Text of text block 2</label>

            <div style="display: table">
                <input id="ds_grid_2_text" type="text" ng-model="studio.ds_grid_2_text" placeholder="Text of text block 2">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_testimonial_video_1" style="float: left;">Testimonial video 1</label>

            <div style="display: table">
                <input id="ds_testimonial_video_1" type="text" ng-model="studio.ds_testimonial_video_1" placeholder="URL of Testimonial video 1">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_testimonial_video_2" style="float: left;">Testimonial video 2</label>

            <div style="display: table">
                <input id="ds_testimonial_video_2" type="text" ng-model="studio.ds_testimonial_video_2" placeholder="URL of Testimonial video 2">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_about_us_grid1_page_body" style="float: left;">Testimonial video 3</label>

            <div style="display: table">
                <input id="ds_testimonial_video_3" type="text" ng-model="studio.ds_testimonial_video_3" placeholder="URL of Testimonial video 3">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_about_us_image" style="float: left;">Image of About Us Page</label>

            <div style="display: table">
                <button class="pure-button-primary" ngf-select="upload($file, dsAboutUsImage, studio, 'ds_about_us_image')">Upload on file select</button> <label ng-if="dsAboutUsImage.progress && dsAboutUsImage.progress > 0">{{ dsAboutUsImage.progress }}%</label>
                <br />
                <input id="ds_about_us_image" type="text" ng-model="studio.ds_about_us_image" placeholder="Promotional Image 3">

                <img ngf-thumbnail="studio.ds_about_us_image" width="80px" ng-show="studio.ds_about_us_image"/>
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_about_us_grid1_page_title" style="float: left;">Grid 1 title of about us page</label>

            <div style="display: table">
                <input id="ds_about_us_grid1_page_title" type="text" ng-model="studio.ds_about_us_grid1_page_title" placeholder="Grid 1 title of about us page">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_about_us_grid1_page_body" style="float: left;">Grid 1 body of about us page</label>

            <div style="display: table">
                <input id="ds_about_us_grid1_page_body" type="text" ng-model="studio.ds_about_us_grid1_page_body" placeholder="Grid 1 body of about us page">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_about_us_grid2_page_title" style="float: left;">Grid 2 title of about us page</label>

            <div style="display: table">
                <input id="ds_about_us_grid2_page_title" type="text" ng-model="studio.ds_about_us_grid2_page_title" placeholder="Grid 2 title of about us page">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_about_us_grid2_page_body" style="float: left;">Grid 2 body of about us page</label>

            <div style="display: table">
                <input id="ds_about_us_grid2_page_body" type="text" ng-model="studio.ds_about_us_grid2_page_body" placeholder="Grid 2 body of about us page">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_registration_page_title" style="float: left;">Title of registration page</label>

            <div style="display: table">
                <input id="ds_registration_page_title" type="text" ng-model="studio.ds_registration_page_title" placeholder="Title of registration page">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_registration_page_body" style="float: left;">Body of registration page</label>

            <div style="display: table">
                <input id="ds_registration_page_body" type="text" ng-model="studio.ds_registration_page_body" placeholder="Body of registration page">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="nu_button_color" style="float: left;">Button color</label>

            <color-picker
                    id="nu_button_color"
                    ng-model="studio.nu_button_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="nu_body_font_color" style="float: left;">Body font color</label>

            <color-picker
                    id="nu_body_font_color"
                    ng-model="studio.nu_body_font_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="nu_title_text_color" style="float: left;">Title text color</label>

            <color-picker
                    id="nu_title_text_color"
                    ng-model="studio.nu_title_text_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="nu_title_font_family" style="float: left;">Title font family</label>

            <div style="display: table">
                <input id="nu_title_font_family" type="text" ng-model="studio.nu_title_font_family" placeholder="Title font family">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="nu_body_font_family" style="float: left;">Body font family</label>

            <div style="display: table">
                <input id="nu_body_font_family" type="text" ng-model="studio.nu_body_font_family" placeholder="Body font family">
            </div>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="co_stripe_account">Stripe Account</label>
            <input id="co_stripe_account" type="text" ng-model="studio.co_stripe_account" placeholder="Stripe Account ID"/>
        </div>

        <div class="pure-control-group">
            <label for="co_stripe_private_key">Stripe Account Private Key</label>
            <input id="co_stripe_private_key" type="text" ng-model="studio.co_stripe_private_key" placeholder="Stripe Account Private Key"/>
        </div>

        <div class="pure-control-group">
            <label for="co_stripe_public_key">Stripe Account Public Key</label>
            <input id="co_stripe_public_key" type="text" ng-model="studio.co_stripe_public_key" placeholder="Stripe Account Public Key"/>
        </div>

        <div class="pure-control-group">
            <label for="nu_phone">Phone number</label>
            <input id="nu_phone" type="text" ng-model="studio.nu_phone" placeholder="Phone number"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_address">Address</label>
            <input id="ds_address" type="text" ng-model="studio.ds_address" placeholder="Address"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_country">Country</label>
            <input id="ds_country" type="text" ng-model="studio.ds_country" placeholder="Country"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_state">State/Province</label>
            <input id="ds_state" type="text" ng-model="studio.ds_state" placeholder="State/Province"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_city">City</label>
            <input id="ds_city" type="text" ng-model="studio.ds_city" placeholder="City"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_instagram_url">Instagram URL</label>
            <input id="ds_instagram_url" type="text" ng-model="studio.ds_instagram_url" placeholder="Instagram URL"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_facebook_url">Facebook URL</label>
            <input id="ds_facebook_url" type="text" ng-model="studio.ds_facebook_url" placeholder="Facebook URL"/>
        </div>

        <div class="pure-control-group">
            <label for="ds_twitter_url">Twitter URL</label>
            <input id="ds_twitter_url" type="text" ng-model="studio.ds_twitter_url" placeholder="Twitter URL"/>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Save Changes</button>
        </div>
    </fieldset>
</form>