<h3>New Studio</h3>

<form class="pure-form pure-form-aligned" ng-submit="submit(studio)">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" ng-model="studio.no_name" placeholder="Name">
        </div>

        <div class="pure-control-group">
            <label for="email">E-mail</label>
            <input id="email" type="email" ng-model="studio.email" placeholder="E-mail">
        </div>

        <div class="pure-control-group">
            <label for="link">Link</label>
            <input id="link" type="text" ng-model="studio.ds_link" placeholder="Link">
        </div>

        <div class="pure-control-group">
            <label for="primaryColor" style="float: left">Primary Color</label>

            <color-picker
                    id="primaryColor"
                    ng-model="studio.nu_primary_color_scheme"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <div class="pure-control-group">
            <label for="secondaryColor" style="float: left">Secondary Color</label>
            <color-picker
                    id="secondaryColor"
                    ng-model="studio.nu_secondary_color_scheme"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <div class="pure-control-group">
            <label for="logo">Logo</label>
            <input id="logo" type="text" ng-model="studio.ds_logo" placeholder="Logo">
        </div>

        <div class="pure-control-group">
            <label for="homepage">Homepage</label>
            <input id="homepage" type="text" ng-model="studio.ds_homepage" placeholder="Homepage">
        </div>

        <div class="pure-control-group">
            <label for="aboutUs">About Us</label>
            <input id="aboutUs" type="text" ng-model="studio.ds_about_us" placeholder="About Us">
        </div>

        <div class="pure-control-group">
            <label for="registrationPage">Registration Page</label>
            <input id="registrationPage" type="text" ng-model="studio.ds_registration_page" placeholder="registrationPage">
        </div>

        <div class="pure-control-group">
            <label for="nu_latitude">Latitude</label>
            <input id="nu_latitude" type="text" ng-model="studio.nu_latitude" placeholder="Latitude">
        </div>

        <div class="pure-control-group">
            <label for="nu_longitude">Longitude</label>
            <input id="nu_longitude" type="text" ng-model="studio.nu_longitude" placeholder="Longitude">
        </div>

        <div class="pure-control-group">
            <label for="ds_login_font_color" style="float: left">Login Page Font Color</label>
            <color-picker
                    id="ds_login_font_color"
                    ng-model="studio.ds_login_font_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_login_button_color" style="float: left">Login Page Button Color</label>
            <color-picker
                    id="ds_login_button_color"
                    ng-model="studio.ds_login_button_color"
                    options="{format: 'hex'}"
            ></color-picker>
        </div>

        <br />

        <div class="pure-control-group">
            <label for="ds_login_background_image">Login Page Background Image</label>
            <input id="ds_login_background_image" type="text" ng-model="studio.ds_login_background_image" placeholder="Background Image">
        </div>

        <hr />

        <!--<h3>Bank Account Info</h3>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="bank_account_number">Bank account number</label>-->
            <!--<input id="bank_account_number" type="text" ng-model="studio.bank_account_number" placeholder="Bank account number">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="bank_country">Bank Country</label>-->
            <!--<input id="bank_country" type="text" ng-model="studio.bank_country" placeholder="Bank country">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="bank_currency">Bank Currency</label>-->
            <!--<input id="bank_currency" type="text" ng-model="studio.bank_currency" placeholder="Bank currency">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="bank_account_holder_name">Bank holder name</label>-->
            <!--<input id="bank_account_holder_name" type="text" ng-model="studio.bank_account_holder_name" placeholder="Bank holder name">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="bank_account_holder_type">Bank holder type</label>-->
            <!--<select ng-model="studio.bank_account_holder_type" id="bank_account_holder_type">-->
                <!--<option>company</option>-->
                <!--<option>individual</option>-->
            <!--</select>-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="bank_routing_number">Bank routing number</label>-->
            <!--<input id="bank_routing_number" type="text" ng-model="studio.bank_routing_number" placeholder="Bank routing number">-->
        <!--</div>-->

        <!--<hr />-->

        <!--<h3>Legal Entity</h3>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="dob_day">Date of birth</label>-->
            <!--<input id="dob_day" type="number" ng-model="studio.dob_day" placeholder="Day"> / <input id="dob_month" type="number" ng-model="studio.dob_month" placeholder="Month"> / <input id="dob_year" type="number" ng-model="studio.dob_year" placeholder="Year">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="le_first_name">First name</label>-->
            <!--<input id="le_first_name" type="text" ng-model="studio.le_first_name" placeholder="First name">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="le_last_name">Last name</label>-->
            <!--<input id="le_last_name" type="text" ng-model="studio.le_last_name" placeholder="Last name">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="address_city">City</label>-->
            <!--<input id="address_city" type="text" ng-model="studio.address_city" placeholder="City">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="address_state">State</label>-->
            <!--<input id="address_state" type="text" ng-model="studio.address_state" placeholder="State">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="address_line1">Address</label>-->
            <!--<input id="address_line1" type="text" ng-model="studio.address_line1" placeholder="Address">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="address_postal_code">Postal Code</label>-->
            <!--<input id="address_postal_code" type="text" ng-model="studio.address_postal_code" placeholder="Postal Code">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="address_ssn_last_4">Last 4 digits of the social security (only required if in U.S.)</label>-->
            <!--<input id="address_ssn_last_4" type="text" ng-model="studio.address_ssn_last_4" placeholder="Social security last 4 digits">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="personal_id_number">Personal ID number</label>-->
            <!--<input id="personal_id_number" type="text" ng-model="studio.personal_id_number" placeholder="Personal ID Number">-->
        <!--</div>-->

        <!--<div class="pure-control-group">-->
            <!--<label for="type">Type</label>-->
            <!--<select ng-model="studio.type" id="type">-->
                <!--<option>company</option>-->
                <!--<option>individual</option>-->
            <!--</select>-->
        <!--</div>-->

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>