<h1>Listing Studios</h1>

<p>
	<button class="pure-button pure-button-primary" ng-click="new()">New Studio</button>
</p>

<div class="table-container">
	<table class="pure-table pure-table-horizontal">
		<thead>
		<tr>
			<th>#</th>

			<th>Logo</th>
			<th>Name</th>

			<th>About</th>
			<th>Colors</th>
			<th>Action</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat="studio in studios">
			<td>{{ studio.id }}</td>
			<td class="studio-logo">
				<img src="{{ studio.ds_logo }}" class="pure-img" alg="Logo"/>
			</td>
			<td class="title">
				<a href="{{ studio.ds_link }}" target="_blank" rel="nofollow">
					{{ studio.no_name }}
				</a>
			</td>
			<td>
				<p>{{ studio.ds_about_us }}</p>
				<p>{{ studio.ds_homepage }}</p>
				<p>{{ studio.ds_registration_page }}</p>
			</td>
			<td>
				<div style="background-color: {{ studio.nu_primary_color_scheme }};
						width: 18px; height: 18px; display: inline-block"
					title="{{ studio.nu_primary_color_scheme }}">&nbsp;</div>
				<div style="background-color: {{ studio.nu_secondary_color_scheme }};
						width: 18px; height: 18px; display: inline-block"
					title="{{ studio.nu_secondary_color_scheme }}">&nbsp;</div>
			</td>
			<td class="actions">
				<button class="pure-button" ng-click="edit(studio)">Edit</button>
				<button class="button-red pure-button" ng-click="remove(studio)">
					<img src="assets/icon-trash.svg" alt="Remove"/>
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>