<h3>New Referral</h3>

<form class="pure-form pure-form-aligned" ng-submit="submit(referral)">
    <fieldset>
        <div class="pure-control-group">
            <label for="user">User</label>
            <select id="user" ng-options="user.id as user.ds_first_name for user in users" ng-model="referral.userId"></select>
        </div>

        <div class="pure-control-group">
            <label for="instructor">Referral (Instructor)</label>
            <select id="instructor" ng-options="instructor.user.id as instructor.user.ds_first_name for instructor in instructors" ng-model="referral.referralId"></select>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Save Changes</button>
        </div>
    </fieldset>
</form>