<h3>New RoleMapping</h3>

<form class="pure-form pure-form-aligned" ng-submit="submit(roleMapping)">
    <fieldset>
        <div class="pure-control-group">
            <label for="roleMapping" style="float: left;">Type</label>

            <div style="display: table">
                <input id="roleMapping" type="text" disabled="disabled" ng-model="roleMapping.principalType" placeholder="Type">
            </div>
        </div>

        <div class="pure-control-group">
            <label for="user">User</label>
            <select id="user" ng-options="user.id as user.ds_first_name for user in users" ng-model="roleMapping.principalId"></select>
        </div>

        <div class="pure-control-group">
            <label for="role">Role</label>
            <select id="role" ng-options="role.id as role.name for role in roles" ng-model="roleMapping.roleId"></select>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Save Changes</button>
        </div>
    </fieldset>
</form>