<h1>Listing ClassInstructor</h1>

<p>
	<button class="pure-button pure-button-primary" ng-click="new()">New ClassInstructor</button>
</p>

<div class="table-container">
	<table class="pure-table pure-table-horizontal">
		<thead>
		<tr>
			<th>#</th>
			<th>Instructor</th>
			<th>Class</th>
			<th>Action</th>
		</tr>
		</thead>

		<tbody>
		<tr ng-repeat="classInstructor in classInstructors">
			<td>{{ classInstructor.id }}</td>
			<td class="title">{{ classInstructor.instructor.user.ds_first_name }}</td>
			<td class="title">{{ classInstructor.class.ds_title }}</td>
			<td class="actions">
				<button class="pure-button" ng-click="edit(classInstructor)">Edit</button>
				<button class="button-red pure-button" ng-click="remove(classInstructor)">
					<img src="assets/icon-trash.svg" alt="Remove" />
				</button>
			</td>
		</tr>
		</tbody>
	</table>
</div>