<h3>Listing Classes</h3>

<button class="pure-button pure-button-primary" ng-click="new()">New Class</button>
<br />
<br />
<div style="text-align: center">
    <table class="pure-table" style="width: 700px">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Length</th>
            <th>Vimeo Link</th>
            <th>Class Style</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr class="pure-table-odd" ng-repeat="_class in classes">
            <td>{{ _class.id }}</td>
            <td>{{ _class.ds_title }}</td>
            <td>{{ _class.ds_description }}</td>
            <td>{{ _class.nu_length }}</td>
            <td>{{ _class.ds_vimeo_link }}</td>
            <td>{{ _class.classStyle.title }}</td>
            <td>
                <button class="pure-button pure-button-primary" ng-click="edit(_class)">Edit</button>
                <button class="pure-button pure-button-primary" style="background-color: red" ng-click="remove(_class)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>