.myso-menu {
    border-bottom: 1px solid #EEE;
    padding: 1rem 0.5rem;
    max-width: 100%;
    overflow-y: auto;
    a {
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
    .pure-menu-heading {
        font-weight: bold;
    }
}