.table-container {
    max-width: 100%;
    overflow-y: auto;
    table {
        width: 100%;
        span.sep {
            padding: 0 0.25rem;
            color: #999;
        }
        td.title {
            font-weight: bold;
            font-size: 1.05rem
        }
        td.actions {
            min-width: 120px;
        }
        td.studio-logo {
            max-width: 80px;
            img {
                max-width: 80px;
                height: auto;
            }
        }
        p {
            margin: 0.4em 0;
        }
    }
}