<h3>New Class Style</h3>

<form class="pure-form pure-form-aligned" ng-submit="submit(classStyle)">
    <fieldset>
        <div class="pure-control-group">
            <label for="description">Description</label>
            <input id="description" type="text" ng-model="classStyle.ds_description" placeholder="Description">
        </div>

        <div class="pure-control-group">
            <label for="title">Title</label>
            <input id="title" type="text" ng-model="classStyle.ds_title" placeholder="Title">
        </div>

        <div class="pure-control-group">
            <label for="level">Level</label>
            <input id="level" type="text" ng-model="classStyle.nu_level" placeholder="Level">
        </div>

        <div class="pure-control-group">
            <label for="thumbnail">thumbnail</label>
            <input id="thumbnail" type="text" ng-model="classStyle.ds_thumbnail" placeholder="Thumbnail">
        </div>

        <div class="pure-control-group">
            <label for="studio">Studio</label>
            <select id="studio" ng-options="studio.id as studio.no_name for studio in studios" ng-model="classStyle.studioId"></select>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Save Changes</button>
        </div>
    </fieldset>
</form>