<h1>Listing Class Styles</h1>

<p>
	<button class="pure-button pure-button-primary" ng-click="new()">
		New Class Style
	</button>
</p>

<div class="table-container">
	<table class="pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Description</th>
				<th>Thumbnail</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<!-- inicio @@ repetir estes dois <tr> a cada registro/ID @@ -->
			<tr ng-repeat="classStyle in classStyles">
				<td>{{ classStyle.id }}</td>
				<td class="title">{{ classStyle.ds_title }}</td>
				<td>
					<p>{{ classStyle.ds_description }}</p>
					<p>
						Level: <strong>{{ classStyle.nu_level }}</strong>
						<span class="sep">&middot;</span>
						Studio: <strong>{{ classStyle.studio.no_name }}</strong>
					</p>
				</td>
				<td class="studio-logo">
					<img ng-src="{{ classStyle.ds_thumbnail }}" class="pure-img" alg="Thumbnail"/>
				</td>
				<td class="actions">
					<button class="pure-button" ng-click="edit(classStyle)">Edit</button>
					<button class="button-red pure-button" ng-click="remove(classStyle)">
						<img src="assets/icon-trash.svg" alt="Remove" />
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>